$breakpoints-down: (
    "mobile": 991px
);


@mixin breakpoint-down ($size) {
    @media (max-width: map-get($breakpoints-down , $size )){
        @content;
    }
};

@mixin flexer {
    display: flex;
    justify-content: center;
}