$breakpoints-down: (
    "mobile": 991px
);


@mixin breakpoint-down ($size) {
    @media (max-width: map-get($breakpoints-down , $size )){
        @content;
    }
};

@mixin flexer {
    display: flex;
    justify-content: center;
}

@mixin pic-position {
    position: relative;
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 10000;
}

@mixin top-left {
    top: 0;
    left: 0;
}