.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 180px;
        height: 500px;
        display: flex;
        justify-content: center;

        img {
            display: block;
            width: 100%;
            position: absolute;
            bottom: 0;
            max-height: 100%;
            cursor: pointer;
        }
    }
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none!important;
}



